<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="bold">{{title}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let data of dataToDisplay" class="line">
      {{data | objectKey}}: <span class="bold">{{data! | objectValue}}</span>
    </p>
  </mat-expansion-panel>
</mat-accordion>