:host {
  ::ng-deep .mat-expansion-panel,
  ::ng-deep .mat-expansion-panel-header-title {
    color: rgb(20, 47, 83);
  }
}

.line {
  display: flex;
  justify-content: space-between;
  max-width: 80%;

  span {
    text-align: right;
  }
}

.bold {
  font-weight: 600;
}
