.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-image: url('../../../assets/af_pattern_bg.png');
}

.title {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
