$primary-color: rgb(20, 47, 83); // TODO set it to global variable

.card {
  margin: 2rem 5rem;
  color: $primary-color;

  .title {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    position: relative;
    margin-bottom: 4rem;

    &::after {
      content: '';
      position: absolute;
      background-color: $primary-color;
      width: 30px;
      height: 5px;
      top: 130%;
      left: calc(50% - 15px);
    }
  }

  .description {
    margin-bottom: 2rem;
    letter-spacing: 1.2px;
    line-height: 1.4;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .card {
    margin: 5rem auto;
    padding: 2rem;
    max-width: 400px;
    border: 1px solid $primary-color;
  }
}
