<app-card title="Retrieve your booking" description="You can find your booking by filling out your family name and the booking code in your booking
confirmation.">
  <form (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="code">Booking code</label>
      <input [formControl]="bookingCodeControl" type="text" name="code" id="code"
        [class.error]="bookingCodeControl.touched && bookingCodeControl.invalid">
      <p *ngIf="bookingCodeControl.touched && bookingCodeControl.invalid" class="error-text">
        Booking code should be at least 5 and maximum 6 characters, and should contain numbers between 2-9 and any
        characters.
      </p>
    </div>
    <div class="form-control">
      <label for="name">Family name</label>
      <input [formControl]="familyNameControl" type="text" name="name" id="name"
        [class.error]="familyNameControl.touched && familyNameControl.invalid">
      <p *ngIf="familyNameControl.touched && familyNameControl.invalid" class="error-text">
        Family name should be at least 2 and maximum 30 characters.
      </p>
    </div>
    <button [class.disabled]="checkInFormGroup.invalid" [disabled]="checkInFormGroup.invalid">Retrieve booking</button>
  </form>
</app-card>