// TODO set them to global variable
$primary-color: rgb(20, 47, 83);
$secondary-color: rgb(205, 205, 205);
$btn-color: rgb(200, 2, 2);

form {
  display: flex;
  flex-direction: column;

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    label {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.6rem;
      font-size: 16px;
      color: $primary-color;
      border: 1px solid $secondary-color;

      &:focus {
        outline: none;
        caret-color: $primary-color;
        border: 1px solid $primary-color;
      }

      &.error {
        border: 1px solid red;
      }
    }
  }

  button {
    width: 100%;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.2px;
    height: 4rem;
    background-color: $btn-color;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: none;

    &.disabled {
      background-color: $secondary-color;
      cursor: unset;
      pointer-events: none;
    }
  }

  .error-text {
    color: red;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .check-in {
    margin: 5rem auto;
    padding: 2rem;
    max-width: 400px;
    border: 1px solid $primary-color;
  }

  button {
    margin: 0 auto;
    max-width: 250px;
    margin-top: 1rem;
  }
}
