<app-card title="Your booking" description="Below you can find all the information about your booking">

  <ng-container *ngIf="booking$ | async as booking; else loadingTemplate">
    <div class="booking">
      <p class="info-line">Booking code: <span class="bold">{{booking.bookingCode}}</span></p>
      <p class="info-line">Contact details: <span class="bold">{{booking.contactDetails}}</span></p>
    </div>
    <div class="info-line">
      <app-expansion-panel title="Passengers" [data]="booking.passengers"></app-expansion-panel>
    </div>
    <div class="info-line">
      <app-expansion-panel title="Itinerary" [data]="booking.itinerary"></app-expansion-panel>
    </div>

  </ng-container>

  <ng-template #loadingTemplate>
    <p>Loading booking info...</p>
  </ng-template>

</app-card>